<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./css/normalize.css">
  <link rel="stylesheet" href="../../assets/stylesheets/style.css">
  <title>TwitterClone</title>
</head>
<body>
  <header>
    <div class="header-left">
      <p>TwitterClone</p>
    </div>
    <div class="header-middle">
      <p><%= notice %></p>
    </div>
    <div class="header-right">
      <p><%= link_to '新規投稿', new_tweet_path %></p>
    </div>
  </header>
  <div class="container">
    <% @tweets.each do |tweet| %>
    <article class="content">
      <div class="contents-left">
        <p><%= tweet.content %></p>
      </div>
      <div class="contents-right">
        <p><%= link_to "投稿を編集する", edit_tweet_path(tweet.id), data: { confirm: '本当に編集していいですか？' } %>
        <%= link_to '投稿を削除する', tweet_path(tweet.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></p>
      </div>
    </article>
    <% end %>
  </div>
  <footer class="footer">
  </footer>
</body>
</html>
